<h4>Button</h4>
<h5>Small</h5>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'primary', size: 'small' ) ) %>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'secondary', size: 'small' ) ) %>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'tertiary', size: 'small' ) ) %>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'outline' , size: 'small') ) %>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'no_outline', size: 'small' ) ) %>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'outline_dark', size: 'small' ) ) %>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'link' , size: 'small') ) %>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'delete' , size: 'small') ) %>

<h5>Medium</h5>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'primary', size: 'medium' ) ) %>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'secondary', size: 'medium' ) ) %>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'tertiary', size: 'medium' ) ) %>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'outline' , size: 'medium') ) %>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'no_outline', size: 'medium' ) ) %>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'outline_dark', size: 'medium' ) ) %>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'link' , size: 'medium') ) %>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'delete' , size: 'medium') ) %>

<h5>Large</h5>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'primary', size: 'large' ) ) %>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'secondary', size: 'large' ) ) %>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'tertiary', size: 'large' ) ) %>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'outline' , size: 'large') ) %>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'no_outline', size: 'large' ) ) %>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'outline_dark', size: 'large' ) ) %>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'link' , size: 'large') ) %>
<%= render( BackpackUi::ButtonComponent.new( name: "Click me", icon: "fa-check", type: 'delete' , size: 'large') ) %>
