<h4>Button</h4>
<h5>Small</h5>
<%= render(BackpackUi::ButtonComponent.new(text: "Click me", icon: "check", type: 'button', options: { classification: 'primary', size: 'small' })) %>
<%= render( BackpackUi::ButtonComponent.new( text: "Click me", icon: "check", type: 'button', options: { classification: 'secondary', size: 'small' } ) ) %>
<%= render( BackpackUi::ButtonComponent.new( text: "Click me", icon: "check", type: 'button', options: { classification: 'tertiary', size: 'small' } ) ) %>
<%= render( BackpackUi::ButtonComponent.new( text: "Click me", icon: "check", type: 'button' , options: { classification: 'outline', size: 'small'} ) ) %>
<%= render( BackpackUi::ButtonComponent.new( text: "Click me", icon: "check", type: 'button', options: { classification: 'no_outline', size: 'small' } ) ) %>
<%= render( BackpackUi::ButtonComponent.new( text: "Click me", icon: "check", type: 'button', options: { classification: 'outline_dark', size: 'small' } ) ) %>
<%= render( BackpackUi::ButtonComponent.new( text: "Click me", icon: "check", type: 'button' , options: { classification: 'link', size: 'small'} ) ) %>
<%= render( BackpackUi::ButtonComponent.new( text: "Click me", icon: "check", type: 'button' , options: { classification: 'delete', size: 'small'} ) ) %>

<h5>Medium</h5>
<%= render(BackpackUi::ButtonComponent.new(text: "Click me", icon: "check", type: 'button', options: { classification: 'primary', size: 'medium' })) %>
<%= render( BackpackUi::ButtonComponent.new( text: "Click me", icon: "check", type: 'button', options: { classification: 'secondary', size: 'medium' } ) ) %>
<%= render( BackpackUi::ButtonComponent.new( text: "Click me", icon: "check", type: 'button', options: { classification: 'tertiary', size: 'medium' } ) ) %>
<%= render( BackpackUi::ButtonComponent.new( text: "Click me", icon: "check", type: 'button' , options: { classification: 'outline', size: 'medium'} ) ) %>
<%= render( BackpackUi::ButtonComponent.new( text: "Click me", icon: "check", type: 'button', options: { classification: 'no_outline', size: 'medium' } ) ) %>
<%= render( BackpackUi::ButtonComponent.new( text: "Click me", icon: "check", type: 'button', options: { classification: 'outline_dark', size: 'medium' } ) ) %>
<%= render( BackpackUi::ButtonComponent.new( text: "Click me", icon: "check", type: 'button' , options: { classification: 'link', size: 'medium'} ) ) %>
<%= render( BackpackUi::ButtonComponent.new( text: "Click me", icon: "check", type: 'button' , options: { classification: 'delete', size: 'medium'} ) ) %>

<h5>Large</h5>
<%= render(BackpackUi::ButtonComponent.new(text: "Click me", icon: "check", type: 'button', options: { classification: 'primary', size: 'large' })) %>
<%= render( BackpackUi::ButtonComponent.new( text: "Click me", icon: "check", type: 'button', options: { classification: 'secondary', size: 'large' } ) ) %>
<%= render( BackpackUi::ButtonComponent.new( text: "Click me", icon: "check", type: 'button', options: { classification: 'tertiary', size: 'large' } ) ) %>
<%= render( BackpackUi::ButtonComponent.new( text: "Click me", icon: "check", type: 'button' , options: { classification: 'outline', size: 'large'} ) ) %>
<%= render( BackpackUi::ButtonComponent.new( text: "Click me", icon: "check", type: 'button', options: { classification: 'no_outline', size: 'large' } ) ) %>
<%= render( BackpackUi::ButtonComponent.new( text: "Click me", icon: "check", type: 'button', options: { classification: 'outline_dark', size: 'large' } ) ) %>
<%= render( BackpackUi::ButtonComponent.new( text: "Click me", icon: "check", type: 'button' , options: { classification: 'link', size: 'large'} ) ) %>
<%= render( BackpackUi::ButtonComponent.new( text: "Click me", icon: "check", type: 'button' , options: { classification: 'delete', size: 'large'} ) ) %>
